* {
	color: #535353;
}

.container-fluid {
	padding: 0 0;
}

body {
	background-color: #f4f6f8;
}

.link {
	color: #535353;
}

.navbar-brand {
	margin: 0;
	padding-left: 5%;
}

.article {
	background-color: white;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 12px 0px;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid #f4f6f8a8;
}

.article-body {
	padding-top: 1%;
	padding-bottom: 2%;
	border-bottom: 1px solid rgb(235, 237, 240);
}

.article-info {
}
